:root {
  --main-background-color: #e8eef9;
  --primary-color: #90a4e7;
  --secondary-font: "PT Mono", monospace;
}

h5,
p,
ul {
  font-family: var(--secondary-font);
}

.first-column {
  background-color: var(--main-background-color);
}
.my-picture {
  display: block;
  margin: 0 auto;
}
.name {
  color: var(--primary-color);
  text-transform: uppercase;
}
